.banner {
  margin-top: 40px;
  margin-bottom: 20px; }

.jumbotron {
  background-color: #F172B2;
  margin-top: 40px;
  margin-bottom: 0px;
  background-image: url(/img/portada2.jpg); }

.oi-star {
  padding-right: 5px; }

.oi-image, .oi-basket, .oi-spreadsheet, .oi-tag, .oi-credit-card, .oi-heart, .oi-phone {
  padding-right: 10px; }

.table .thead-pink th {
  color: #fff;
  background-color: #b146f1;
  border-color: #b146f1; }

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #F172B2; }

.title {
  color: #F172B2;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center; }

.titulo2 {
  color: #F172B2;
  text-align: center;
  border: double;
  margin-top: 50px;
  margin-bottom: 50px; }

.btn {
  background-color: #F172B2; }

.btn-primary:hover {
  color: #fff;
  background-color: #b146f1; }

.btn-primary {
  color: #fff;
  border-color: #F172B2; }

.btn-outline-success {
  color: #b146f1;
  border-color: #b146f1; }

.btn-outline-success:hover {
  color: #fff;
  background-color: #b146f1;
  border-color: #b146f1; }

.card {
  border: 1px solid #F172B2;
  border-radius: .25rem; }

.card-creaciones {
  flex: 1 150px;
  margin-top: 0px;
  margin-bottom: 10px; }

.card-title {
  margin-bottom: .75rem;
  text-align: center;
  color: #F172B2; }

.btn-comprar {
  width: 100%;
  border-radius: 0px;
  color: #fff;
  border-color: #F172B2; }

.btn-comprar:hover {
  width: 100%;
  border-radius: 0px;
  color: #fff;
  background-color: #b146f1; }

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #F172B2;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.form-control:focus {
  border-color: #b146f1;
  box-shadow: 0 0 0 0.2rem rgba(205, 174, 243, 0.25); }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #F172B2;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #F172B2; }

a {
  color: #b146f1; }
