$yellow: #d8db12;
$pink: #F172B2;
$purple: #b146f1;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

.banner {
	@include margenes (40px, 20px);
}

.jumbotron {
	background-color: $pink;
	@include margenes (40px, 0px);
	background-image: url(/img/portada2.jpg);
}

.oi-star {
	padding-right: 5px;
}

.oi-image, .oi-basket, .oi-spreadsheet, .oi-tag, .oi-credit-card, .oi-heart, .oi-phone{
	padding-right: 10px;
}

.table .thead-pink th {
    color: #fff;
    background-color: $purple;
    border-color: $purple;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid $pink;
}

.title	{
	color: $pink;
    @include margenes (0px, 30px);
    text-align: center;
}

.titulo2{
	color: $pink;
    text-align: center;
    border: double;
	@include margenes (50px, 50px);
}

.btn {
	background-color: $pink;
}

.btn-primary:hover {
  	color: #fff;
 	background-color: $purple;
}

.btn-primary {
    color: #fff;
    border-color: $pink;
}

.btn-outline-success {
    color: $purple;
    border-color: $purple;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: $purple;
    border-color: $purple;
}

.card {
    border: 1px solid $pink;
    border-radius: .25rem;
}

.card-creaciones {
	flex: 1 150px;
	@include margenes (0px, 10px);
}

.card-title {
    margin-bottom: .75rem;
    text-align: center;
    color: $pink;
}

.btn-comprar{
	width: 100%;
	border-radius: 0px;
    color: #fff;
    border-color: $pink;
}

.btn-comprar:hover {
	width: 100%;
	border-radius: 0px;
  	color: #fff;
 	background-color: $purple;
}

.form-control {
    display: block;
  	width: 100%;
  	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid $pink;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: $purple;
  box-shadow: 0 0 0 0.2rem rgba(205,174,243, 0.25);
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: $pink;
	@include margenes (50px, 0px);
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	@include margenes (10px, 0px);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: $pink;
}

a {
    color: $purple;
}
